
   :root {
    --hm-primary:      #00407C;
    --hm-secondary:    #83C3C2;
    --hm-gray-light:   #F5F5F5;  
    --hm-white:        #FFFFFF;  
    --hm-border-light: #E0E0E0;  
    --hm-text:         #4D4D4D;
    --hm-font:         'Open Sans', sans-serif;
    --hm-br:           4px;      
    --hm-container:    1236px;     
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    background-color: var(--hm-gray-light);
  }
  
  body {
    font-family: var(--hm-font);
    font-size: 16px;
    line-height: 1.5;
    color: var(--hm-text);
  }
  
  header,
  footer {
    width: 100%;
    background-color: var(--hm-white);
  }
  
  .content-wrapper {
    background-color: var(--hm-white);
    max-width: var(--hm-container);
    margin: 0 auto;
    padding: 20px;       
    border: 1px solid var(--hm-border-light);
    border-radius: var(--hm-br);
  }
  

  .sidebar {
    float: left;
    width: 30%;
  }
  
  .main-content {
    float: right;
    width: 80%;
  }
  
  .content-wrapper::after {
    content: "";
    display: block;
    clear: both;
  }
  